//BASE BOTONES

.botonSuscribir {
	width: 190px;
	height: 40px;
	font-size: 14px;
	color: white;
	background-color: lightpink;
	border: 1px solid pink;
	border-radius: 20px;
	font-family: montserrat;
	text-align: center;}

//EXTEND BASE

.botonConsulta { 
@extend .botonSuscribir;
background-color: pink;
}

//TEXTOS

.tipografiaSitio {
	font-family: montserrat;
	text-align: left; }

//EXTEND TEXTOS
.textoBienvenida .blogTexto{
@extend .tipografiaSitio;
}

// BASE  BRANDING

.tituloBranding
{ color: lightpink;
text-align: center;
font-family: montserrat;}

.nuestroPortfolio {
	color: lightpink;
font-family: montserrat;
text-align: center;}

// EXTEND BRANDING
.parrafoBranding  {
	@extend .tituloBranding ;
}

.textoBranding .nuestraHistoria .tipografias{
	@extend .nuestroPortfolio;
}



